*.user
*.exe
NHibernateSamples/AuditableData/bin
NHibernateSamples/AuditableData/obj
NHibernateSamples/packages
NHibernateSamples/NHibernateSamples.v12.suo
NHibernateSamples/packages/FluentNHibernate.2.0.3.0/FluentNHibernate.2.0.3.0.nupkg